* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: auto;

}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 1rem;
    width: 100%;
    height: 10vh;
    z-index: 10;
}
.logo {
    font-size: 1.5rem; 
    color: #8353E2FF;
    font-family: sans-serif;
}

.main-sec{
    display: flex;
    height: 100vh;
    margin-top: 72px;
    overflow-x: hidden;
}
.left{
    width: 70%;
    background: #341473E6;
    overflow-y: auto;

}
.right{
    background:#341473E6;
    width: 30%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-a; */
    align-items: center;
    gap: 50px;
}
.status{
    width: 80%;
    height: 25%;
    background: #FFFFFFFF;
    margin-top: 20px;
    border-radius: 20px;
    /* margin-left: 20px; */
    /* margin: 0 auto; */
}
.tags{
    width: 80%;
    /* height: 50%; */
    height: fit-content;
    background: #FFFFFFFF;
    border-radius: 20PX;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding:10px;
    gap:15px;
}
.module{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    background:#FFFFFFFF;
    margin: 0 auto;
    margin: 20px;
    padding: 10px 20px ;
    align-items: center;
    border-radius: 20px;
}
.left::-webkit-scrollbar {
    display: none;
}

.mod-name{
    color: #8353E2FF;
    font-size: 2rem;
    font-family: sans-serif;
}
.mod-name a{
    color:#8353E2FF ;
}
.count{
    display: flex;
    width:26%;
    background: #FFFFFFFF;
    justify-content: space-between;
    margin-right: 30px;
    gap: 15px;
}
.pro-btn{
    background-color: #8353E2FF;
    color: white;
    outline: none;
    padding-left: 15px;
    padding-right:15px;
    border: none;
    font-family: sans-serif;
    font-size:1.75rem;
    font-weight:bold;
    border-radius: 20px;
}
.count-st{
    color:#8353E2FF ;
}
a{
    text-decoration: none;
}

.tags-child{
    background-color: #8353E2FF;
    /* height: fit-content; */
    padding: 5px 10px;
    border-radius: 20px;
    font-family: sans-serif;
}

.tags a{
    color: white;
}